.header{
    background-color: rgb(38, 47, 80);
    color: white;
    padding: 20px 50px;
}

.container1,.container2{
    display: flex;
    justify-content: space-between;
}

.container1{
    margin-bottom: 60px;
}

img{
    width: 300px;
    height: auto;
}

button{
    width: 100px;
    height: auto;
}

h2{
    font-size: 24px;
    color: #F9FAF8;
}

ul{
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
    gap: 12px;
}