body{
    font-family: "Roboto", sans-serif;
}

.header{
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px 50px;
}

.container1,.container2{
    display: flex;
    justify-content: space-between;
}

.container1{
    margin-bottom: 60px;
}

.firsth{
    font-size: 48px;
    font-weight: 900;
}

.titlep{
    font-size: 18px;
    color:#E5E7EB;
}

.imageh{
    width: 300px;
    height: auto;
}

.firstbutton{
    width: 100px;
    height: auto;
    background-color: #3882F6;
    border: none;
    padding: 6px;
    color:#F9FAF8;
    border-radius: 6px;
    font-weight: 600;
}

h2{
    font-size: 24px;
    color: #F9FAF8;
}

ul{
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
    gap: 12px;
}

.imagb{
    width: 150px;
    height: 150px;
    border:#3882F6 solid 3px;
    border-radius: 6px;
}

.images{
    display: flex;
    padding: 24px;
    gap: 50px;
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub{
    width: 150px;
    text-align: center;
    margin: 8px auto;
}

.bodyh1{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.qbody{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.quote{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    text-align: center;
}

.name{
    font-weight: bold;
    text-align: right;
}

.qcenter{
    width: 700px;
    height: auto;
    padding: 80px;
}

.endbody{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.bluebox{
    background-color: #3882F6;
    padding: 30px 100px;
    color:#F9FAF8;
    border-radius: 6px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.textc{
    margin-top: 0;
    padding-top: 0;
}

.secondbutton{
    width: 100px;
    height: auto;
    background-color: #3882F6;
    border: solid 2px #F9FAF8;
    padding: 6px;
    color:#F9FAF8;
    border-radius: 6px;
    font-weight: 600;
}

.footer{
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 40px;
}